<div class="page-header">
	<h1>About Us</h1>
</div>
<p>This application was built with help from the <%= link_to "One Month Rails", "http://onemonth.com" %> course.</p>
<p>Programmed by: Matt Witmer</p>